@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:wght@400;600&display=swap');

@media only screen and (max-width: 560px) {
    body{
        background: url("img/background.jpg");
        background-size: 40em;
    }
}
@media only screen and (min-width: 560px) {
    body{
        background: url("img/backgroundPC.jpg");
        background-size: 105em;
    }
}

/*PRINCIPAL*/
:root{
    --corCtt:#ffd82c;
    --corComp:#D6A045;
    --fontTitulo:'Great Vibes';
    --fontRodape: 'Source Serif Pro';
}
body{
    text-align: justify;
    font: 400 1em 'Source Sans Pro', Arial, sans-serif;
    color: #fff;
}
main{
    max-width: 80%;
    margin: auto;
    padding: 5px;
    text-align: center;
}
main h1{
    font: lighter 3.2em var(--fontTitulo), cursive;
    margin-top: 8px;
}
main em{
    color: var(--corCtt);
    font-weight: 600;
}
/*INPUTFIELD E BOTÃO*/
#notas{
    transition-duration: 1s;
    background: linear-gradient(to right, transparent, var(--corComp), transparent);
    padding: 10px;
    border: none;
    width: 240px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    outline: none;
}
#notas:focus{
    padding: 12px;
    transition-duration: 1s;
    background: var(--corComp);
    border-radius: 2px;
    text-decoration: none;
}
#gerar{
    font-size: 3em;
    background: transparent;
    border: none;
    margin-top: 10px;
}
/*DIVS*/
.espaco{
    margin-top: 25px;
}
#musica{
    color: #000;
    font-weight: 700;
    padding: 8px;
    background: #ffffffa9;
    border-radius: 5px;
    line-height: 2.2em;
    letter-spacing: 7px;
}
footer{
    position: absolute;
    top: 95%;
    width: 99%;
}
footer p {
    text-align: center;
    font: normal 0.8em var(--fontRodape), serif;
}